@using BotDetect.Web.Mvc;
@using AuctionWeb.Models
@using AuctionWeb.Helpers;

@section view_title {
    Change Information
}

@model User

@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-warning">
        <strong>@ViewBag.ErrorMsg</strong> 
    </div>
}

<!-- Change Info -->
<div class="w3_login">
    <h3>Change Information</h3>
    <div class="w3_login_module">
        <div class="module form-module">
            <div class="toggle" hidden>
                <i class="fa fa-times fa-pencil"></i>
            </div>
            <div class="form">
                <h2>Change Information</h2>
                <form method="post" action="">
                    <input type="text" name="Username" value="@Model.Username" readonly>
                    <input type="text" name="Name" placeholder="Full Name" value="@Model.Name">
                    <input type="text" name="Email" placeholder="Email" value="@Model.Email">
                    <input type="password" name="Password" placeholder="Password">
                    <div hidden><input type="text" class="form-control" value="@Model.ID" name="ID"></div>
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- //Change Info -->    
