@using BotDetect.Web.Mvc;

@section view_title {
    Sign Up
}

@section css {
    <link href="~/Assets/boostrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <style type="text/css">
        label {
            font-weight: normal !important;
        }
    </style>
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="~/Assets/boostrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/jquery_validation/jquery.validate.js"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'd/m/yyyy',
            autoclose: true,
        });
        $('#frmRegister').validate({
            rules: {
                f_Username: {
                    required: true,
                    minlength: 6
                },
                f_RawPassword: {
                    required: true,
                    minlength: 6
                },
                f_Name: {
                    required: true
                },
                f_Address: {
                    required: true
                },
                f_Email: {
                    required: true,
                    email: true
                },
                f_DOB: {
                    required: true
                },
                f_RawPasswordAgain: {
                    required: true,
                    equalTo: '#id_password'
                }
            },

            messages: {
                f_Username: {
                    required: 'Please input your username',
                    minlength: 'Username must has at least 6 characters'
                },
                f_RawPassword: {
                    required: 'Please input your password',
                    minlength: 'password must has at least 6 characters',
                },
                f_RawPasswordAgain: {
                    required: 'Please type your password again',
                    equalTo: 'Two types must be the same'
                },
                f_Name: {
                    required: 'Please input your name'
                },
                f_Address: {
                    required: 'Please input your address'
                },
                f_Email: {
                    required: 'Please input your email',
                    email: 'Please input in correct format of email'
                },
                f_DOB: {
                    required: 'Please input your birthday'
                }
            }
        });
    </script>
}

@if (ViewBag.ErrorMsg != null)
{
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 alert alert-warning">
            <strong>Warning!</strong> @ViewBag.ErrorMsg
        </div>
        <div class="col-sm-2"></div>
    </div>
}

@if (ViewBag.suss != null)
{
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 alert alert-success">
            <strong>@ViewBag.suss</strong> 
        </div>
        <div class="col-sm-2"></div>
    </div>
}

 <!-- login -->
<div class="w3_login">
    <h3>Sign Up</h3>
    <div class="w3_login_module">
        <div class="module form-module">
            <div class="toggle" hidden>
                <i class="fa fa-times fa-pencil"></i>
                <div class="tooltip">Sign Up</div>
            </div>
            <div class="form">
                <h2>Create an account</h2>
                <form method="post" action="@Url.Action("Register", "Account")" id="frmRegister">
                    <input type="text" name="f_Username" placeholder="Username">
                    <input type="password" name="f_RawPassword" placeholder="Password" id="id_password">
                    <input type="password" name="f_RawPasswordAgain" placeholder="Type Again" id="id_password">
                    <input type="text" name="f_Name" placeholder="Full Name">
                    <input type="text" name="f_Address" placeholder="Address">
                    <input type="text" name="f_Email" placeholder="Email">
                    <input type="text" name="f_DOB" class="datepicker" placeholder="Birthday">
                    @{
                        var exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
                        exampleCaptcha.Reset();
                    }
                    @Html.Captcha(exampleCaptcha)
                    <br />
                    <input type="text" class="form-control" placeholder="Captcha" name="CaptchaCode">
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- //login -->
   