@using AuctionWeb.Models;

@model List<User>

@section view_title{
    Delete Users
}

@section js {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#watchlisttable').DataTable();
        });
        $('.btn_delusers').on('click', function () {
            $('#submit_deluser').submit();
        });
        $('.btn_reset').on('click', function () {
            $('#submit_resetuser').submit();
        });
    </script>
    <script src="~/Assets/boostrap-datepicker/js/jquery-1.12.4.js"></script>
    <script src="~/Assets/boostrap-datepicker/js/jquery.dataTabsles.min.js"></script>
}

@section css {
    <link href="~/Assets/boostrap-datepicker/css/d.css" rel="stylesheet" />
}

@{ 
    int id_tem;
}
<table id="watchlisttable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Option</th>
            <th>Reset Password</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Option</th>
            <th>Reset Password</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Username</td>
                <td>@p.Name</td>
                <td>@p.Email</td>
                <td>
                    <a href="javascript:;" class=" btn btn-success btn_delusers" role="button">
                        Delete
                    </a>
                    <form id="submit_deluser" method="post" action="@Url.Action("Delete","MAccount")">
                        <div class="form-group">
                            <input value="@p.ID" name="ID" hidden />
                        </div>
                    </form>
                </td>
                <td>
                    <a href="javascript:;" class=" btn btn-success btn_reset" role="button">
                        Reset Password
                    </a>
                    <form id="submit_resetuser" method="post" action="@Url.Action("Reset","MAccount")">
                        <div class="form-group">
                            <input value="@p.ID" name="ID" hidden />
                        </div>
                        <div class="form-group">
                            <input value="@p.Email" name="Email" hidden />
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
