@using AuctionWeb.Models;

@model List<UsersAsking>

@section view_title{
    Users are waiting for acceptence
}

@section js {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#usersasking').DataTable();
        });
        $('.btn_reset').on('click', function () {
            $('#submit_resetuser').submit();
        });
    </script>
    <script src="~/Assets/boostrap-datepicker/js/jquery-1.12.4.js"></script>
    <script src="~/Assets/boostrap-datepicker/js/jquery.dataTabsles.min.js"></script>
}

@section css {
    <link href="~/Assets/boostrap-datepicker/css/d.css" rel="stylesheet" />
}

<table id="usersasking" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>AskingDate</th>
            <th>Accept</th>
            <th>Deny</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>AskingDate</th>
            <th>Accept</th>
            <th>Deny</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Username</td>
                <td>@p.Email</td>
                <td>@p.AskingDate</td>
                <td>
                    <a href="javascript:;" class=" btn btn-success btn_reset" role="button">
                        Accept request
                    </a>
                    <form id="submit_resetuser" method="post" action="@Url.Action("Accept","MAccount")">
                        <div class="form-group">
                            <input value="@p.IDUser" name="ID" hidden />
                        </div>
                    </form>
                </td>
                <td>
                    <a href="javascript:;" class=" btn btn-success btn_reset" role="button">
                        Delete Request
                    </a>
                    <form id="submit_resetuser" method="post" action="@Url.Action("Deny","MAccount")">
                        <div class="form-group">
                            <input value="@p.ID" name="ID" hidden />
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>