@using AuctionWeb.Models;

@section view_title{
    Categories Management
}

@model List<Category>

@section js {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#watchlisttable').DataTable();
        });
        $('.edituser').on('click', function () {
            $('.submit_edituser').submit();
        });
        $('.btn_edituser').on('click', function () {
            $('.submit_deluser').submit();
        });
        $("#btn_adduser").click(function (e) {
            $("#adduser").show();

            e.preventDefault();
        });
    </script>
    <script src="~/Assets/boostrap-datepicker/js/jquery-1.12.4.js"></script>
    <script src="~/Assets/boostrap-datepicker/js/jquery.dataTabsles.min.js"></script>
    <script src="~/Assets/popup/popup.js"></script>
}

@section css {
    <link href="~/Assets/boostrap-datepicker/css/d.css" rel="stylesheet" />
    <link href="~/Assets/popup/popup.css" rel="stylesheet" />
}

<table id="watchlisttable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>
                    <a id="btnShowModal" value="Modal Dialog" href="" class=" btn btn-success" role="button">
                        Edit
                    </a>
                    <!---->
                    <div id="output"></div>
                    <div id="overlay" class="web_dialog_overlay"></div>
                    <div id="dialog" class="web_dialog">
                        <table style="width: 100%; border: 0px;" cellpadding="3" cellspacing="0">
                            <tr>
                                <td class="web_dialog_title">Edit Category</td>
                                <td class="web_dialog_title align_right">
                                    <a href="#" id="btnClose">Close</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <!--edit form-->
                                    <form class="submit_edituser" method="post" action="@Url.Action("Edit","MCategories")">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">New Name</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="New Name" name="Name">
                                            </div>
                                        </div>
                                        <div class="form-group" hidden>
                                            <div class="col-sm-4">
                                                <input type="text" value="@p.ID" class="form-control" placeholder="New Name" name="ID">
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center;">
                                    <a id="btnSubmit" value="Submit" href="javascript:;" class=" btn btn-success edituser" role="button">
                                        Save
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <a href="javascript:;" class=" btn btn-success btn_edituser" role="button">
                        Delete
                    </a>
                    <form class="submit_deluser" method="post" action="@Url.Action("Delete","MCategories")">
                        <div class="form-group">
                            <input value="@p.ID" name="ID" hidden />
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<br>
<a id="btn_adduser" href="javascript:;" class=" btn btn-success" role="button">
    Add Categories 
</a>

<form id="adduser" method="post" action="@Url.Action("Add","MCategories")" hidden>
    <hr />
    <div class="form-group">
        <label class="col-sm-2 control-label">New Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="New Name" name="Name">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</form>
