@using AuctionWeb.Models

@model List<Auction>

@section view_title{
    Setted bid history
}

@section js {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#availablepros').DataTable();
        });
    </script>
    <script src="~/Assets/boostrap-datepicker/js/jquery.dataTabsles.min.js"></script>
}

@section css {
    <link href="~/Assets/boostrap-datepicker/css/datatable.css" rel="stylesheet" />
}

@if (ViewBag.suss != null)
{
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 alert alert-success">
            <strong>@ViewBag.suss</strong>
        </div>
        <div class="col-sm-2"></div>
    </div>
}
<table id="availablepros" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Time</th>
            <th>Name Of User</th>
            <th>Bid</th>
            <th>Ban</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Time</th>
            <th>Name Of User</th>
            <th>Bid</th>
            <th>Ban</th>
    </tfoot>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Time</td>
                <td>@p.Fullname</td>
                <td>@string.Format("{0:N0}", p.MaxPrice)</td>
                <td>
                    <a href="@Url.Action("BanUser", "Auction", new {iduser = @p.IDUser, idpro = @p.IDPro })" class=" btn btn-success" role="button">
                        Kick this user
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>