@using AuctionWeb.Models

@model List<ProductVM>

@section view_title{
    Won Products
}

@section js {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#availablepros').DataTable();
        });
    </script>
    <script src="~/Assets/boostrap-datepicker/js/jquery.dataTabsles.min.js"></script>
}

@section css {
    <link href="~/Assets/boostrap-datepicker/css/datatable.css" rel="stylesheet" />
}

@if (TempData["mess"] != null)
{
    <div class="alert text-success">
        <strong>@TempData["mess"]</strong>
    </div>
}
<table id="availablepros" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Seller</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Product Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Seller</th>
            <th>Rating</th>
    </tfoot>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td><img src="~/Img/products/@p.ID/main2.jpg" height="180" width="240" /></td>
                <td>@string.Format("{0:N0}", p.PriceDisplay)</td>
                <td>@p.Description</td>
                <td>
                    <form action="@Url.Action("Rating", "Auction")">
                        <button class="fa fa-plus-circle btn btn-success"></button>
                        <p hidden><input type="text" name="ID" value="@p.UserID" /></p>
                        <p hidden><input type="text" name="positivePoint" value="1" /></p>
                    </form>
                    <form action="@Url.Action("Rating", "Auction")">
                        <button class="fa fa-minus-circle btn btn-success"></button>
                        <p hidden><input type="text" name="ID" value="@p.UserID" /></p>
                        <p hidden><input type="text" name="negativePoint" value="-1" /></p>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>