@using AuctionWeb.Models
@using AuctionWeb.Helpers;

@model Product

@section view_title {
    Details
}

@section js{
    <script src="~/Assets/popup/popup.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript">
        $('.edituser').on('click', function () {
            $('.submit_edituser').submit();
        });
    </script>
<script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 2500);
        }
</script>
}

@section css{
    <link href="~/Assets/popup/popup.css" rel="stylesheet" />
    <style>
        .mySlides {
            display: none;
        }
    </style>
}

@if (Model == null)
{
    <text>No Products Available</text>
}
else
{
    <div class="agileinfo_single">
        <h5>@Model.Name</h5>
        <div class="col-md-4 agileinfo_single_left">
            @* if have a problem, if responsive to class of img *@
            <div class="w3-content w3-section" style="max-width:500px">
                <img class="mySlides w3-animate-top" src="~/Img/products/@Model.ID/main.jpg" style="width:100%">
                <img class="mySlides w3-animate-bottom" src="~/Img/products/@Model.ID/main2.jpg" style="width:100%">
                <img class="mySlides w3-animate-top" src="~/Img/products/@Model.ID/main3.jpg" style="width:100%">
            </div>
        </div>
        <div class="col-md-8 agileinfo_single_right">
            <div class="rating1">
                <span class="starRating">
                    <input id="rating5" type="radio" name="rating" value="5">
                    <label for="rating5">5</label>
                    <input id="rating4" type="radio" name="rating" value="4">
                    <label for="rating4">4</label>
                    <input id="rating3" type="radio" name="rating" value="3" checked>
                    <label for="rating3">3</label>
                    <input id="rating2" type="radio" name="rating" value="2">
                    <label for="rating2">2</label>
                    <input id="rating1" type="radio" name="rating" value="1">
                    <label for="rating1">1</label>
                </span>             
            </div>
            <div><a id="ref_watchlist" class="btn btn-success">Add To Favorite</a></div>
            <div class="w3agile_description">
                <h4>Description :</h4>
                <p>@Html.Raw(HttpUtility.HtmlDecode(Model.Description))</p>
            </div>
            <div class="snipcart-item block">
                <div class="snipcart-thumb agileinfo_single_right_snipcart">
                    <h4>Start Price: @string.Format("{0:N0}", Model.StartPrice)</h4>
                    <h4>Current Price: @string.Format("{0:N0}", Model.PriceDisplay)</h4>
                    <h4>Buy now with: @string.Format("{0:N0}", Model.EndPrice)</h4>
                    <h4>Step Price: @string.Format("{0:N0}", Model.StepPrice)</h4>
                    <h4>Time End: @Model.TimePost.AddDays(Model.IntervalTime)</h4>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <!--hidden form to submit-->
        <form id="submit_watchlist" method="post" action="@Url.Action("WatchList","MProduct")">
            <div class="form-group">
                <input value="@Model.ID" name="ID" hidden />
            </div>
            <div class="form-group">
                <input value="@Model.UserID" name="UserID" hidden />
            </div>
        </form>
        <!--checkuser-->      
        @if (CurrentContext.Islogged() == true)
        {
                double pos = CurrentContext.GetCurUser().positivePoint;
                double nav = CurrentContext.GetCurUser().negativePoint;                
                if (CurrentContext.GetCurUser().ID == Model.UserID)
                {
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8 alert alert-info">
                            <strong>Check information of your products frequently to see what was going on!!!</strong>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                }
                else if (ViewBag.CheckBanned == true)
                {
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8 alert alert-info">
                            <strong>You have no right anymore to race for this product!!</strong>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                }
                else if (Model.lastuser == CurrentContext.GetCurUser().ID)
                {
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8 alert alert-info">
                            <strong>You are the one who pay the highest price for it with @string.Format("{0:N0}", Model.PriceDisplay)!!</strong>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                }
                else if (((Math.Abs(pos / (nav + pos)) < ((double)4 / (double)5)) || pos <= 0 ))
                {
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8 alert alert-info">
                            <strong>You need to have at least 80% of positive rating in order to race for this product!!!</strong>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                }
                else
                {
                <hr />
                <form class="form-inline submit_edituser" method="get" action="@Url.Action("Index","Auction", new { Product = Model })">
                    <div class="form-group">
                        <label class="col-sm-8 control-label">How much you could you pay for it?</label>
                        <div class="col-sm-4">
                            @{
                                decimal? recommend = Model.PriceDisplay + Model.StepPrice;
                            }
                            <input type="text" class="form-control" placeholder="Recommend bid: @string.Format("{0:N0}", recommend)" name="Price">
                        </div>
                    </div>
                    <div class="form-group" hidden>
                        <div class="col-sm-4" hidden>

                            <input type="text" value="@Model.ID" placeholder="VND" name="ID" hidden>
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button id="btnShowModal" value="Modal Dialog" type="submit" class="btn btn-success">Grab it</button>
                                <!---->
                                <div id="output"></div>

                                <div id="overlay" class="web_dialog_overlay"></div>

                                <div id="dialog" class="web_dialog">
                                    <table style="width: 100%; border: 0px;" cellpadding="3" cellspacing="0">
                                        <tr>
                                            <td class="web_dialog_title">Confrimation</td>
                                            <td class="web_dialog_title align_right">
                                                <a href="#" id="btnClose">Close</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="padding-left: 15px;">
                                                <b>Click yes to confirm again??</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="text-align: center;">
                                                <input id="btnSubmit" href="javascript:;" class=" btn btn-success edituser" type="button" value="Yes" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!---->
                            </div>
                        </div>
                </form>
              }
        }     
        else
        {
            <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 alert alert-danger">
                <strong>Please login to race for this product!!!</strong> 
            </div>
            <div class="col-sm-2"></div>
            </div>
        }     
</div>
}